<!DOCTYPE html>
<html lang="en">
    <head>
        <title>start test</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link href="css/index.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <form class="form-inline searchForm">
            <div class="form-group">
                <img src="img/google.jpg" style="width:4%; height:4%;">
                <input type="input" id="keyword" class="form-control">
                <button type="submit" id="btn" class="btn btn-default">go</button>        
            </div>
        </form>

        <div clss="contents">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#" id="null"></a></li>
                <li role="presentation" class=""><a href="/oneTwo" id="oneTwo">원투펀치</a></li>
                <li role="presentation" class=""><a href="/oneSideCut" id="oneSideCut">원사이드컷</a></li>
                <li role="presentation" class=""><a href="/buildUp6" id="buildUp6">빌드업6</a></li>
                <li role="presentation" class=""><a href="/sports-g" id="sports-g">스포츠니어스</a></li>
                <li role="presentation" class="active"><a href="/tikitaka" id="tikitaka">티키타카</a></li>
                <li role="presentation" class=""><a href="/footballism" id="footballism">기적의수학자</a></li>
                <li role="presentation" class=""><a href="/beautifulGame" id="beautifulGame">뷰티풀게임</a></li>
                <li role="presentation" class=""><a href="/justFootball" id="justFootball">저스트풋볼</a></li>
            </ul>

            <div id="column">
                <img src="img/loading_icon.gif" id="loadingIcon" />
            </div>
        </div>
        
        <script src="js/index.js" type="text/javascript"></script>
        <script src="jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="js/ajax.js" type="text/javascript"></script>
    </body>
</html>
