.searchForm {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.contents {
    padding-left: 5%;
    padding-right: 5%;
}

#loadingIcon {
    width: 10%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}

#column {
    text-align: left;
    padding-left: 5%;
    padding-right: 30%;
    padding-top: 5%;
}
